{% extends 'baseAdmin.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header"><h3 align="center">Etudiant</h3></div>
                    <div class="card-body text-primary">
                        {{ form_start(formEtudiant) }}
                        {{ form_row(formEtudiant.photo) }}
                        {{ form_row(formEtudiant.nom) }}
                        {{ form_row(formEtudiant.prenom) }}
                        {{ form_row(formEtudiant.dateNaissance) }}
                        {{ form_row(formEtudiant.promotion) }}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-header"><h3 align="center">Adresse</h3></div>
                    <div class="card-body text-primary">
                        {{ form_row(formEtudiant.adresse.rue) }}
                        {{ form_row(formEtudiant.adresse.codepostal) }}
                        {{ form_row(formEtudiant.adresse.ville) }}
                    </div>
                </div><br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Creer</button>
                </div>
            </div>
            {{ form_end(formEtudiant) }}
        </div>
    </div>
{% endblock %}