{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Etudiants <small>(nombre)</small></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ etudiants|length}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Enseignants <small>(nombre)</small></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ enseignants|length }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Matieres <small>(nombre)</small></div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ matieres|length }}</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Absences <small>(nombre)</small>)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ absences|length }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary d-flex">Promotions</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="dataTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Promotions</th>
                            <th>Etudiants</th>
                            <th>Enseignants</th>
                            <th>Matieres</th>
                            <th>Absences</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Promotions</th>
                            <th>Etudiants</th>
                            <th>Enseignants</th>
                            <th>Matieres</th>
                            <th>Absences</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for promotion in promotions%}
                            {% set cpt = 0%}
                            <tr>
                                <td>{{ promotion.id}}</td>
                                <td>{{ promotion.libelle}}</td>
                                <td>{{ promotion.etudiants|length}}</td>
                                <td>{{ promotion.enseignants|length}}</td>
                                <td>{{ promotion.matiere|length}}</td>
                                {% for matiere in promotion.matiere %}
                                    {% for cours in matiere.cours %}
                                        {% if cours.absences|length >0 %}
                                            {% set cpt = cpt + (cours.absences|length)  %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <td>{{ cpt }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
